* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  color: #333;
  margin-top: 50px;
}
/* 活跃状态路由激活样式 */
.router-link-active {
  color: #27a;
}

#app {
  width: 1600px;
  margin: 0 auto;
}
