* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  color: #333;
}
.router-link-active {
  color: #27a;
}
